// $o-website-values-palettes: (
//   (
//     "color-palettes-name": "smtc-palette-1",
//     "font": "Inter",
//     "headings-font": "Inter",
//     "header-template": "default",
//     "footer-template": "descriptive",
//   )
// );

// // Color Palettes

// $o-color-palettes: map-merge(
//   $o-color-palettes,
//   (
//     "smtc-palette-1": (
//       "o-color-1": #dc2626,
//       "o-color-2": #0f172a,
//       "o-color-3": #f8fafc,
//       "o-color-4": #1e293b,
//       "o-color-5": #ffffff,
//       "menu": 5,
//       "footer": 4,
//     ),
//   )
// );

// // Compatibility Indexes

// $o-color-palettes-compatibility-indexes: (
//   1: "smtc-palette-1",
// );
